body {
  margin: 0;
  padding: 0;
  background-color: #fffbf1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: #fffbf1;
  height: 10vh;
}

.logo {
  font-family: "Beth Ellen", cursive;
  display: inline-block;
  font-size: 2rem;
  margin-left: 10px;
  padding: 5px;
  margin-top: 0;
  /* color: #3d5267; */
  background-color: #3d5267;
  background-image: linear-gradient(#ebf4f5, #b5c6e0);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ul {
        display: inline-block;
        list-style: none;
      }
      
      li {
        display: inline-block;
        margin-right: 5px;
        margin-top: 10px;
      } */

.links {
  display: flex;
  flex-direction: row;
  top: 5%;
}

a {
  text-decoration: none;
  color: #3d5267;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

a:hover {
  color: #afcbff;
}

a.active {
  color: #fbe4ff;
}

nav .icon {
  display: none;
}

.shopping-icon {
  font-size: 1.2rem;
  float: right;
  color: #3d5267;
  margin-right: 5px;
}

/* amount of space hero images take up */
.slideshow {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* so all 3 images don't display at once */
.slides {
  display: none;
}

/* size of individual images */
.slide-img {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
}

/* arrows */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* so next arrow won't be next to previous arrow */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #afcbff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* dots also change color when hovered over */
.active,
.dot:hover {
  background-color: #3d5267;
}

/* text on top of hero images */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Beth Ellen", cursive;
  font-size: 4rem;
  color: #2e1503;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

/* buttons on top of hero images */

.pages {
  position: absolute;
  /* fallback color */
  background-color: antiquewhite;
  background-color: rgba(255, 251, 241, 0.6);
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  color: #3d5267;
}

button:hover {
  color: #afcbff;
}

.brand-intro {
  /* margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0; */
  display: inline-block;
  border: 0.75px solid #2e1503;
  background-color: #fffefc;
}

h2 {
  font-family: "Niconne", cursive;
  color: #2e1503;
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  padding: 5px;
  color: #1a1718;
  text-align: center;
  font-size: 1rem;
}

/* container for text and images */
.photo-grid {
  border: 0.75px solid #2e1503;
  background-color: #fffefc;
}

/* individual rows, easier to make responsive */
.row-one,
.row-two {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-family: "Niconne", cursive;
  color: #2e1503;
  text-align: center;
  font-size: 1.5rem;
}

/* fixed size of images */
.social-img {
  object-fit: contain;
  width: 250px;
  height: 250px;
}

h4 {
  font-family: "Niconne", cursive;
  color: #2e1503;
  text-align: center;
  font-size: 1.5rem;
}

mark {
  background-color: #fffefc;
  border: 0.75px solid #2e1503;
  padding: 10px;
}

.reviews {
  display: flex;
  justify-content: space-around;
}

.review-one,
.review-two,
.review-three {
  display: block;
  border: 0.75px solid #2e1503;
  width: 30vw;
  background-color: #fffefc;
}

.five-stars {
  margin: auto;
  display: table;
}

/* social media icons */
.icons {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 5px;
}

.very-bottom {
  display: inline;
}

.newsletter {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.payments {
  font-size: 1.2rem;
  float: right;
  margin-right: 10px;
}

label {
  font-family: "Lato", sans-serif;
  color: #1a1718;
  font-size: 0.9rem;
}

input {
  border: 0.5px solid #1a1718;
  width: 75%;
  border-radius: 5px;
  height: 1rem;
}

.newsletter-submit {
  background-color: #fffefc;
  border: 0.5px solid #1a1718;
  border-radius: 5px;
  color: #3d5267;
  font-family: "Lato", sans-serif;
}

/* mobile */
@media (max-width: 500px) {
  nav a {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsive {
    position: relative;
  }
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  a {
    margin-top: 0;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .pages {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.2rem;
    padding-right: 2px;
    padding-left: 2px;
  }

  p {
    font-size: 0.8rem;
  }

  h3,
  h4 {
    font-size: 1.2rem;
  }

  .social-img {
    object-fit: contain;
    width: 125px;
    height: 125px;
    /* fallback color */
    /* border: 0.75px solid burlywood;
    border: 0.75px solid rgba(46, 21, 3, 0.5); */
  }

  .row-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row-two {
    display: none;
  }

  .reviews {
    flex-direction: column;
    justify-content: center;
  }

  .review-one,
  .review-two,
  .review-three {
    width: 80vw;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .review {
    font-size: 0.7rem;
  }

  .bottom-nav {
    display: none;
  }
}

/* tablet */
@media (min-width: 501px) and (max-width: 950px) {
  nav a {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsive {
    position: relative;
  }
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  a {
    margin-top: 0;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .pages {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }

  h3,
  h4 {
    font-size: 1.7rem;
  }

  .social-img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    /* fallback color */
    border: 0.75px solid burlywood;
    border: 0.75px solid rgba(46, 21, 3, 0.5);
  }

  .row-two {
    display: none;
  }

  .bottom-nav {
    display: none;
  }
}
